:root{
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #dd6a1d;
    --secondary-color-hover: #1ee661;
    --light-color: #f4f4f4;
}

html,
body > *{
   
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 300;
text-rendering: optimizeLegibility;
background-color: #fff;
line-height: 145%;
color:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.header-3{
    text-align: center;
}

.clearfix{

}

/* .main{
    height: 100vh;
    width: 100vw;
} */

a{
    text-decoration: none;
    color: #fff;
}
/* ------header ----------*/
header,footer{
    background-color: #0d35b6;
}

header{
    height: 80px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    flex-direction: row;
    
}

h2{
    text-align: center;
    justify-items: center;
    padding: 10px;
    color: var(--light-color);
}

/* container */
.container{
    border: 2px solid red;
    color: #000000;
    display: flex;
    /* justify-content: center;
  align-items: center; */
}

.bulb{
 height: 300px;
 width: 49%;
}
.bulb img{
    height: 100%;
    float: right;

}

.switch{
    width: 48%;
    padding-top: 10%;
}


.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #c13434; 
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #1de93f; 
    color: #f3f1f1;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0;
     bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* footer */
footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
   text-align: center;
   padding: 10px;
}